<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414533201619-dcbuh36v0dnvm84br942t2seimeoek64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414533201619-dcbuh36v0dnvm84br942t2seimeoek64</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>414533201619-ivgb78djsh1s55btksvfnpp6e0cb233m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBC0FHeNmqhE0at2NXlM_kgdlwyHgmgAF8</string>
	<key>GCM_SENDER_ID</key>
	<string>414533201619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-62775</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-62775.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414533201619:ios:011241ccea0edd28536e26</string>
</dict>
</plist>